html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: none;
  margin: -1rem;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {

    font-family: futura-pt, sans-serif;
    background-color: #2700FF;
    width: 100vw;
    height: 100vh;

}

#cursor {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  background-color: #2700FF;
  position: absolute;
}

.banner {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/PaulRenner3.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    font-size: 10rem;
    grid-column: 1/4;
    color: #2700FF;
}

.light {

    font-weight: 300;
    font-style: normal;

}

.light-italic {

    font-weight: 300;
    font-style: italic;

}

.book {

    font-weight: 400;
    font-style: normal;

}

.book-italic {

    font-weight: 400;
    font-style: italic;

}

.medium {

    font-weight: 500;
    font-style: normal;

}

.medium-italic {

    font-weight: 500;
    font-style: italic;

}


.demi {

    font-weight: 600;
    font-style: normal;

}

.demi-italic {

    font-weight: 600;
    font-style: italic;

}


.heavy {

    font-weight: 700;
    font-style: normal;

}

.heavy-italic {

    font-weight: 700;
    font-style: italic;

}


.bold {

    font-weight: 800;
    font-style: normal;

}

.bold-italic {

    font-weight: 800;
    font-style: italic;

}

.hidden {

    display: hidden;

}

.fullscreen {

    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/conservative.png');
    background-size: cover;
    margin-bottom: 10rem;

}

.fullscreen2 {

    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/progressive.png');
    background-size: cover;

}
