html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: none;
  margin: -1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {

    font-family: futura-pt, sans-serif;

}

#cursor {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  background-color: #2700FF;
  position: absolute;
}

.banner {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/PaulRenner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10rem;
    grid-column: 1/4;
    color: #2700FF;
}

